/*  your css code here. If applicable */
html{
background:rgb(135, 206, 235);
	width:100vw;
	height:100vh;
}
.first-p{
background:black;
	color:white;
}
.third{
	color:red;
}
ul {
	width:50%;
	padding:10px;
}
ul li{
	font-size:22px;
	background:gray;
}

li:first-child{
	color:white;
	background:black;
}
li:nth-child(odd) {
	color:white;
	background:gray;
}
li:last-child{
	color:red;
	background:white;
}