/*  your css code here. If applicable */
:root{
	background-color:skyblue;
}

 div :first-child{
	background-color:black;
	color:white;
}

 div :last-child{
	color: red;
}
div :nth-child(2) {
	color:black;
}
ul li{
	width:50%;
	padding:10px;
}
ul :first-child , ul :last-child{
	font-size:22px;
}

 ul li:nth-child(1){
	background-color:white;
}

 ul li:nth-child(5){
	background-color:white;
}

 ul li:nth-child(2){
    background-color: slategrey;
}

ul li:nth-child(3){
	background-color:pink;
}

 ul li:nth-child(4){
    background-color: slategrey;
}